#main-bg{
   
    background:url("../../public/Manimage.webp");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    
    /* object-fit: cover; */
    
}
#image2{
    position: relative;
    /* width: 50%; */
}
#img1{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  
}
#img4{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  
}
#image2:hover #img1{
    opacity: 0.3;
}
#image2:hover #img4{
    opacity: 1;

}

#image2:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1); 
    z-index: -1;
}
#img4{
 width: 50px;
  font-size: 50px;
}
#logo1:hover{
    transform: scale(1.5,1.5);
}
#nav-text ul li:hover{
    transform: scale(1.6);
}
#shampoo{
    background-image: url('../../public/shampoo.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    
    /* width: 100%; */
    
}
#condition{
    background-image: url('../../public/condition.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    
}
#greens {
    background-image: url('../../public/greenrect.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: 100%; */
}
#tri{
    background-image: url('../../public/greenrect.svg');
    background-size: auto; 
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}
#black{
    /* background-image:url('../../public/blackimg.svg'); */
    background-color: black;
    /* border-color: black; */
    background-size: cover; 
    background-repeat: no-repeat;
    /* position: relative; */
}

.snow1 {
    background: url('../../public/snowing.png');
    /* background-repeat:repeat; */
    background-size: cover;
    animation: animationone 2s infinite linear;
 
}
@keyframes animationone {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px 200px; /* Adjust these values */
    }
}


#mont{
    font-family: 'Montserrat';
    
}
.xyz{
    transition:all 0.5s ease-in-out;
}
.xyz:hover{
    transform: scale(1.1);
    /* transform: translate(123px,123px); */
}
.logot{
    /* transition-property: background-color;
    transition-duration: 1s; */
    /* transform: translate(-50%,-50%); */
    
    box-shadow: 0 0 0 15px rgba(0,0,255,.1), 0 0 0 30px rgba(0,0,255,.1), 0 0 0 45px rgba(0,0,255,.1), 0 0 0 60px rgba(0,0,255,.1), 0 0 0 75px rgba(0,0,255,.1),;
}
/* @keyframes anima{
    0%{
        box-shadow: 
    }
} */
/* .logot:hover{
    background-color: rgb(49, 58, 38);
} */

@media (min-width:1536px) and (max-width:1800px){
    #middle-full{
        padding-left: 130px;
        padding-right: 20px;
    }
    #section3{
        margin-top: 0px;
    }
   
}
@media (min-width:768px) and (max-width:1024px){
    #main-bg{
        /* background-image: ; */
        /* overflow: hidden; */
        background:url("../../public/Manimage.webp");
         background-repeat: no-repeat;
        /* background-size: cover;  */
        background-size: 100%;
        /* background-position: center; */
        background-repeat: no-repeat;
        object-fit: cover;
        
    }
    #nav-top{

        padding-top: 10px;
    }

}
@media (min-width:640px) and (max-width:768px){
    #main-bg{
        /* background-image: ; */
        /* overflow: hidden; */
        background:url("../../public/Manimage.webp");
         background-repeat: no-repeat;
        /* background-size: cover;  */
        background-size: 100%;
        /* background-position: center; */
        background-repeat: no-repeat;
        object-fit: cover;
        
    }
    #nav-top{

        padding-top: 10px;
    }
    #section3{
        margin-top: 50px;
    }

}
@media (min-width:520px) and (max-width:640px){
    #main-bg{
        /* background-image: ; */
        /* overflow: hidden; */
        background:url("../../public/Manimage.webp");
         background-repeat: no-repeat;
        /* background-size: cover;  */
        background-size: 100%;
        /* background-position: center; */
        background-repeat: no-repeat;
        object-fit: cover;
        
    }
    #nav-top{

        padding-top: 10px;
    }

}
@media (min-width:320px) and (max-width:520px){
    #main-bg{
        /* background-image: ; */
        /* overflow: hidden; */
        background:url("../../public/Manimage.webp");
         background-repeat: no-repeat;
         /* background-size: cover;  */
         background-size: 100%;
         /* background-position: center; */
         background-repeat: no-repeat;
         object-fit: cover;
         
        }
        #logo1{
            width: 40px;
        }
        #nav-top{
    
            padding-top: 10px;
        }
        #nav-text{
            font-size: 10px;
        }
       
    #middle-full{
        margin-top: 17px;
        padding-left: 30px;
        padding-right: 20px;

        
    }
    #middle-the{
     font-size: 20px;
     margin: 0px;
    }
#middle-ultimate{
    font-size: 23px;
    
}
#middle-experience{
    font-size: 23px;
}
#middle-hair{
    font-size: 20px;
}
#section2{
    margin-top: 0px;
}
#section3{
    margin-top: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}
#shampoo1{
    margin-top: 80px;
    padding-bottom: 0px;
}
#condition1{
    margin-top: 80px;
    padding-bottom: 0px;
}
#view{
    padding-bottom: 0px;
    margin-bottom: 0px;
}
#about1{
width: 30%;
margin-left: 12px;
}
#about2{
width: 33%;
}
#about3{
width: 30%;
}

}
#roundd{
    transition: all 0.5s ease-in-out;
}
#roundd:hover{
    transform: rotate(360deg);
}

#anime{
    animation-name: email;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-direction:alternate-reverse;
}
@keyframes email {
    from{
        width: 0%;
    }
    to{
        width: 15%;
    }
}
#view1{
    animation: views 1s infinite alternate-reverse;
}
@keyframes views {
    from{
        width: 0%;
    }
    to{
        width:4%
    }
    
}

