/*!****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/app/newcss.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************/
#main-bg{
    /* background-image: ; */
    /* overflow: hidden; */
    background:url(/_next/static/media/Manimage.d13563f9.webp);
    /* background-repeat: no-repeat;
    background-size: cover; */
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    /* object-fit: cover; */
    
}
#image2{
    position: relative;
    /* width: 50%; */
}
#img1{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  
}
#img4{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /* text-align: center; */
}
#image2:hover #img1{
    opacity: 0.3;
}
#image2:hover #img4{
    opacity: 1;

}
#image2:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1); 
    border-radius: 10px;
    z-index: -1;
}
#img4{
 width: 50px;
  font-size: 50px;
}
#shampoo{
    background-image: url(/_next/static/media/shampoo.1822f977.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    
    /* width: 100%; */
    
}
#condition{
    background-image: url(/_next/static/media/condition.a4d3b179.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    
}
#greens {
    background-image: url(/_next/static/media/greenrect.4a709515.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: 100%; */
}
#tri{
    background-image: url(/_next/static/media/greenrect.4a709515.svg);
    background-size: auto; 
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}
#black{
    background-image: url(/_next/static/media/blackimg.af513651.svg);
    background-size: cover; 
    background-repeat: no-repeat;
}
#mont{
    font-family: 'Montserrat';
}

@media (min-width:1536px) and (max-width:1800px){
    #middle-full{
        padding-left: 130px;
        padding-right: 20px;
    }
    #section3{
        margin-top: 0px;
    }
   
}
@media (min-width:768px) and (max-width:1024px){
    #main-bg{
        /* background-image: ; */
        /* overflow: hidden; */
        background:url(/_next/static/media/Manimage.d13563f9.webp);
        /* background-size: cover;  */
        background-size: 100%;
        /* background-position: center; */
        background-repeat: no-repeat;
        -o-object-fit: cover;
           object-fit: cover;
        
    }
    #nav-top{

        padding-top: 10px;
    }

}
@media (min-width:640px) and (max-width:768px){
    #main-bg{
        /* background-image: ; */
        /* overflow: hidden; */
        background:url(/_next/static/media/Manimage.d13563f9.webp);
        /* background-size: cover;  */
        background-size: 100%;
        /* background-position: center; */
        background-repeat: no-repeat;
        -o-object-fit: cover;
           object-fit: cover;
        
    }
    #nav-top{

        padding-top: 10px;
    }
    #section3{
        margin-top: 50px;
    }

}
@media (min-width:520px) and (max-width:640px){
    #main-bg{
        /* background-image: ; */
        /* overflow: hidden; */
        background:url(/_next/static/media/Manimage.d13563f9.webp);
        /* background-size: cover;  */
        background-size: 100%;
        /* background-position: center; */
        background-repeat: no-repeat;
        -o-object-fit: cover;
           object-fit: cover;
        
    }
    #nav-top{

        padding-top: 10px;
    }

}
@media (min-width:320px) and (max-width:520px){
    #main-bg{
        /* background-image: ; */
        /* overflow: hidden; */
        background:url(/_next/static/media/Manimage.d13563f9.webp);
         /* background-size: cover;  */
         background-size: 100%;
         /* background-position: center; */
         background-repeat: no-repeat;
         -o-object-fit: cover;
            object-fit: cover;
         
        }
        #logo1{
            width: 40px;
        }
        #nav-top{
    
            padding-top: 10px;
        }
        #nav-text{
            font-size: 10px;
        }
       
    #middle-full{
        margin-top: 17px;
        padding-left: 30px;
        padding-right: 20px;

        
    }
    #middle-the{
     font-size: 20px;
     margin: 0px;
    }
#middle-ultimate{
    font-size: 23px;
    
}
#middle-experience{
    font-size: 23px;
}
#middle-hair{
    font-size: 20px;
}
#section2{
    margin-top: 0px;
}
#section3{
    margin-top: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}
#shampoo1{
    margin-top: 80px;
    padding-bottom: 0px;
}
#condition1{
    margin-top: 80px;
    padding-bottom: 0px;
}
#view{
    padding-bottom: 0px;
    margin-bottom: 0px;
}
#about1{
width: 30%;
margin-left: 12px;
}
#about2{
width: 33%;
}
#about3{
width: 30%;
}

}
